<div class="modal-header">
    <h3>Add Protocol</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label>Name add Protocol</label>
             <select  ng-model="addProt.proName" class="selectpicker" data-style="btn-primary">
                   <option  value="BARRIER">BARRIER</option>
                   <option  value="COUNTER">COUNTER</option>
                   <option  value="DELAY">DELAY</option>
                   <option  value="DISCARD">DISCARD</option>
                   <option  value="DISCARD_PAYLOAD">DISCARD_PAYLOAD</option>
                   <option  value="DUPL">DUPL</option>
                   <option  value="SIZE">SIZE</option>
                   <option  value="STATS">STATS</option>
                   <option  value="SUPERVISOR">SUPERVISOR</option>
                  <option  value="TRACE">TRACE</option>
            </select>
        </div>
        <div class="form-group">
            <label>Position Protocol</label>
            <select ng-model="transport.position" class="selectpicker" data-style="btn-primary">
                <option  value="above">above</option>
                <option  value="below">below</option>
                
            </select>
        </div>
        <div class="form-group">
            <label> Protocol</label>
             <select  ng-options="protocol as protocol for protocol in protocol.listP" ng-model="selectedP.protocol" class="selectpicker" data-style="btn-primary">
                  
            </select>
        </div>
        <div class="form-group">
            <label>Adress</label>
             <select  ng-options="item as item for item in data.items" class="selectpicker" data-style="btn-primary" ng-model="selected.item" ng-if="data.items">
                  
            </select>
        </div>
        
    </form>
   <!-- <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
        </li>
    </ul>
    -->
   <!-- Selected: <b>{{ proName }}</b>-->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

<script>
    $('.selectpicker').selectpicker();
</script>