    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Visualisation JGroups Cluster</a>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li >
                    <a href="">
                        <span ng-click="main.showGraphe()">Graph</span>
                    </a>
                </li>
                <li class="dropdown">
                
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href=""> <span ng-click="main.showOperation()">Operation</span> </a></li>
                        <li class="divider"></li>
                        <li><a href=""> <span ng-click="main.showAttribute()">Attribute</span> </a></li>
                        <li class="divider"></li>
                       
                    </ul>
                </li>
                <li class="dropdown">
                
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Protocol <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href=""> <span ng-click="main.addProtocol()">Add</span> </a></li>
                        <li class="divider"></li>
                        <li><a href=""> <span ng-click="main.deleteProtocol()">Delete</span> </a></li>
                        <li class="divider"></li>
                       
                    </ul>
                </li>           
                <li>
                    <a href="">
                        <span ng-click="main.showHistory()">History</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span ng-click="main.showContact()">Contact</span>
                    </a>
                </li>
 
            </ul>
            <!--<form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>-->

        </div><!-- /.navbar-collapse -->

    </nav>




   <!-- <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Log-in</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                    </div>
                    <p class="text-right"><a href="#">Forgot password?</a></p>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                    <a href="#" class="btn btn-primary" ng-click="ok()">Log-in</a>
                </div>
            </div>
        </div>
    </div>
    -->
